<footer>
    <div class="top-footer">
        <div class="container">
            <ul>
                <li><a href="/"> صفحه اصلی </a></li>
                <li><a asp-controller="Question" asp-action="FilterTag"> لیست تگ ها </a></li>
                <li><a asp-controller="Question" asp-action="QuestionList"> لیست پرسش ها </a></li>
            </ul>
        </div>
    </div>
    <div class="bottom-footer">
        <div class="container">
            <div class="socials-layer">
                <a href="/"><i class="icon-linkedin"></i></a>
            </div>
            <div class="copyright">
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</footer>