<!-- aside -->
<aside>

    <!-- most popular post -->
    <section class="most-popular-questions">

       @await Component.InvokeAsync("ScoreHighToLowQuestion")
       @await Component.InvokeAsync("NewQuestion");

    </section>
    <!-- /most popular post -->
    <!-- most controversial tags -->
    <section class="most-controversial-tags">
        @await Component.InvokeAsync("UseCountHighToLowTags")
    </section>
    <!-- /most controversial posts -->
    <!-- banner -->
    @*<div class="banner-layer">
        <a href=""><img src=""></a>
    </div>
    <!-- /banner -->
    <!-- banner -->
    <div class="banner-layer">
        <a href=""><img src=""></a>
    </div>*@
    <!-- /banner -->

</aside>
<!-- /aside -->