.mt-50 {
    margin-top: 50px
}

.vertical-align-middle {
    vertical-align: middle !important;
}

.mt-15 {
    margin-top: 15px !important;
}

.mb-15 {
    margin-bottom: 15px !important;
}

.mt-50 {
    margin-top: 50px
}

.admin-error-style {
    color: tomato;
    font-size: 13px;
}

